﻿@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>RESTBackend</h1>
</div>

<div class="row">

    <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Saved define-api-calls</h2>
            </div>

            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: queries">
                    <li>
                        <strong>Url:</strong> <span data-bind="text: Url"></span><br>
                        <strong>Body:</strong> <span data-bind="text: Body"></span><br>
                        <strong>HttpCode:</strong> <span data-bind="text: HttpCode"></span><br>
                        <small><a href="#" data-bind="click: $parent.test">Test</a></small>
                        <small><a href="#" data-bind="click: $parent.getQuery">Edit</a></small><br>
                        <br>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Statistics</h2>
            </div>

            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: statistics">
                    <li>
                        <strong>Url:</strong> <span data-bind="text: Url"></span><br>
                        <strong>Timestamp:</strong> <span data-bind="text: Timestamp"></span><br>
                        <strong>Ip:</strong> <span data-bind="text: Ip"></span><br>
                        <small><a href="#" data-bind="click: $parent.getMoreStatistics"> MoreStatistics</a></small><br>
                        <br>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">New define-api-call</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addDefineApiCall">

                    <div class="form-group" data-bind="with: newQuery">

                        <label for="AddUrl" class="col-sm-2 control-label">Url</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="AddUrl" data-bind="value:Url" />
                        </div>

                        <label for="AddBody" class="col-sm-2 control-label">Body</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="AddBody" data-bind="value:Body" />
                        </div>

                        <label for="AddHttpCode" class="col-sm-2 control-label">Code</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="AddHttpCode" data-bind="value:HttpCode" />
                        </div>

                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <!-- ko if:selectedQuery() -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Edit Query</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: saveEditedQuery">

                    <div class="form-group" data-bind="with: editable">
                        <input type="hidden" class="form-control" id="EditId" data-bind="value:Id" />

                        <label for="EditUrl" class="col-sm-2 control-label">Url</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="EditUrl" data-bind="value:Url" />
                        </div>

                        <label for="EditBody" class="col-sm-2 control-label">Body</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="EditBody" data-bind="value:Body" />
                        </div>

                        <label for="EditHttpCode" class="col-sm-2 control-label">Code</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="EditHttpCode" data-bind="value:HttpCode" />
                        </div>

                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <!-- /ko -->

    <!-- ko if:moreStatistics()[0] -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">More statistics</h2>
            </div>

            <div class="panel-body">
                <strong>Url:</strong> <span data-bind="text: moreStatistics()[0].Url"></span><br>
                <strong>Number of calls:</strong> <span data-bind="text: moreStatistics().length"></span><br>
                <ul class="list-unstyled" data-bind="foreach: moreStatistics">
                    <li>
                        <strong>Timestamp:</strong> <span data-bind="text: Timestamp"></span><br>
                        <strong>IP:</strong> <span data-bind="text: Ip"></span><br>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- /ko -->

    <!-- ko if:testUrl() -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Response</h2>
            </div>

            <div class="panel-body">
                <strong>Response body:</strong> <span data-bind="text: testUrl()"></span><br>
            </div>
        </div>
    </div>

    <!-- /ko -->


    
</div>